.body--head{
font-size: 20px;
border: 8px dotted 50%;
}
.body--para1{
margin: 10px 10px;
background-color: brown;
}
.body--para2{
background-color: blueviolet;
padding: 12px 1.1rem;
}
.body--para3{
background-color: aqua;
}
.body--para4{
border: 7px solid 12%;
}